

<section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(assets/images/background/bg-4.jpg);">
    <div class="line-grid-wrap">
        <span class="line-grid-1"></span>
        <span class="line-grid-2"></span>
        <span class="line-grid-3"></span>
        <span class="line-grid-4"></span>
        <span class="line-grid-5"></span>
    </div>
    <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="assets/images/resource/building3.png" alt=""></div>              
    <div class="auto-container">
        <div class="p_relative text-center">
            <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Activities</h1> 
            <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">

            </ul>
        </div>
    </div>
</section>

<section class="pt_120 pb_90">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb_30"><img src="assets/images/resource/service-2.jpg" alt=""></div>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>OUR ACTIVITIES</h6>
                <h2 class="fw_black fs_45 mb_20">ZAKIB SERVICES </h2>
                <p class="mb_20 fs_18">supports its customers by providing them with qualified labour for the realization of all their construction sites. </p>
                <ul class="list-1 fs_20 fw_medium c_dark2 mb_10">
                    <li><i class="flaticon-comment"></i>High responsiveness to quickly mobilise the profiles you need (design managers, works supervisors, etc.)</li>
                    <li><i class="flaticon-comment"></i>Costs controlled thanks to the pooling of resources and the optimisation of costs</li>
                    <li><i class="flaticon-comment"></i>Detailed monitoring and reporting of the activity of our teams</li>
                    <li><i class="flaticon-comment"></i>A single point of contact to facilitate coordination and streamline exchanges</li>
                  
                </ul>
                <p>We can thus provide you with real added value in terms of flexibility, efficiency and performance in the management of your human resources.</p>
            </div>
        </div>
    </div>
</section>

<section class="pt_120 pb_90 bg_gray11 p_relative">
    <div class="side-bg-1"></div>
    <div class="auto-container">
        <div class="row p_relative">
            <div class="col-lg-5">
                <div class="mb_30"><img src="assets/images/resource/service-3.jpg" alt=""></div>
            </div>
            <div class="col-lg-7 ps-lg-4">
                <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>About Quality</h6>
                <h2 class="fw_black fs_45 mb_20">Modern Service Standard</h2>
                <p class="mb_20 fs_18">As a subdivision firm, you are faced with fluctuating staffing needs depending on the different phases of your construction projects. We would be delighted to support you in the realization of these projects by offering you our outsourced human resources management services.</p>
                <p class="mb_30 fs_18">Our offer would allow you to benefit from great flexibility to adapt your teams according to your needs, while freeing you from administrative and operational management related to human resources. Our main strengths are:</p>
                <ul class="list-1 fs_20 fw_medium c_dark2 mb_10">
                    <li><i class="flaticon-fast-forward"></i>High responsiveness to quickly mobilise the profiles you need (design managers, works supervisors, etc.)</li>
                    <li><i class="flaticon-fast-forward"></i>Costs controlled thanks to the pooling of resources and the optimisation of costs</li>
                    <li><i class="flaticon-fast-forward"></i>Detailed monitoring and reporting of the activity of our teams</li>
                    <li><i class="flaticon-fast-forward"></i>A single point of contact to facilitate coordination and streamline exchanges</li>
                </ul>
            </div>
        </div>
    </div>
</section>
