<section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(assets/images/background/bg-4.jpg);">
    <div class="line-grid-wrap">
        <span class="line-grid-1"></span>
        <span class="line-grid-2"></span>
        <span class="line-grid-3"></span>
        <span class="line-grid-4"></span>
        <span class="line-grid-5"></span>
    </div>
            
        <div class="auto-container">
            <div class="p_relative text-center">
                <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Presentation</h1> 
                <ul class="fs_18 d-flex justify-content-center c_light wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s">
                </ul>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="pt_160 pb_90">        
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="p_relative">
                        <div class="image p_relative d_iblock" data-parallax='{"y": -20}'>
                            <img src="assets/images/resource/roller.png" alt="">
                        </div>
                        <div class="image p_relative b_40 text-end" data-parallax='{"y": 20}'>
                            <img src="assets/images/resource/Image.jpg" alt="">
                        </div>
                        <div class="experience-year fs_18 fw_bold ff_sec theme-bg p_absolute l_60 b_110 text-center text-light pt_30 b_radius_50 lh_20" data-parallax='{"x": 20}'><span class="fs_60 fw_black mb_25 d_iblock">20</span><br> Years <br> Experience</div>
                    </div>
                </div>
                <div class="col-lg-7 ps-lg-5">
                    <div class="p_relative">
                        <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15"><span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>ABOUT ZAKIB SERVICES</h6>
                        
                        <p class="mb_30 fs_20">We participate in the realization of your construction projects by offering you flexibility and efficiency in the management of your human resources.</p>
                        <p class="mb_50 fs_18">Benefiting from the expertise of its holding company of 10 years; ZAKIB SERVICES supports its customers by providing them with qualified labor for the realization of all their construction sites.</p>
                        <p class="mb_50 fs_18">Proven experience<br>
                            With more than 10 years of experience, a seasoned team, and a mastery of all the construction trades, we can carry out all types of projects...</p>
                        <p class="mb_50 fs_18">A confirmed know-how<br>
                            Our staff, through the various departments, is trained and qualified for the tasks they have to perform, thus ensuring you peace of mind for your construction.</p>
                        <p class="mb_50 fs_18">A relentless professionalism<br>
                            We apply the greatest rigour to meeting deadlines, exchange regularly with our customers and ensure a scrupulous follow-up of the various stages of the projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
