<section class="banner-1-section pt_240 pb_140 bg_cover overflow-hidden" style="background-image: url(assets/images/background/bg-4.jpg);">
  <div class="line-grid-wrap">
      <span class="line-grid-1"></span>
      <span class="line-grid-2"></span>
      <span class="line-grid-3"></span>
      <span class="line-grid-4"></span>
      <span class="line-grid-5"></span>
  </div>
  <div class="banner-1-image-1 p_absolute b_0 r_0"><img src="assets/images/resource/building3.png" alt=""></div>              
  <div class="auto-container">
      <div class="p_relative text-center">
          <h1 class="c_light mb_10 fw_black fs_65 wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.5s">Offres d’emploi</h1> 

      </div>
  </div>
</section>


<section class="pt_120 pb_90">
  <div class="auto-container">
    <h6 class="theme-color ff_sec fw_bold tt_u fs_14 ls_1 mb_15">
      <span class="w_30 h_2 theme-bg mr_10 d_iblock v_middle"></span>Offres d’emploi
    </h6>
    <h2 class="fs_45 fw_black mb_20">Frequently Ask Questions</h2>
    <p class="fs_18 mb_40">
      Discover your question from underneath or submit your question using the submit box.
    </p>
    <div class="row">
      <div class="col">
        <div class="faq-search-form p_relative mb_60">
          <form>
            <input type="search" placeholder="Recherche">
            <button type="submit"><i class="far fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col">
        <div class="combobox">
          <!-- Deuxième combobox -->
        </div>
      </div>
      <div class="col">
        <div class="combobox">
          <!-- Troisième combobox -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="appointment-area">
  <div class="container">
      <div class="appointment-title">
          <h2>Fill Out the Appointment Request Form Online and<br> We’ll Contact You!</h2>
          <p>In the event that you'd like one of our client administration agents to call you to plan your appointment, simply round out the structure beneath. Somebody will get in touch with you to affirm a date and time for your arrangement at the earliest opportunity.</p>
      </div>
      <div class="row">
          <div class="col-xl-9">
              <div class="appointment-form-box">
                  <form class="appointment-form" name="appointment-form" action="#" method="post">
                  
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Is this service for</h3>
                          </div>
                          <div class="appointment-checkbox">
                              <div class="single-checkbox">
                                  <input type="checkbox" name="your-home" id="home-1">
                                  <label for="home-1"><span></span>Your Home</label>
                              </div>
                              <div class="single-checkbox">
                                  <input type="checkbox" name="your-business" id="your-business" checked>
                                  <label for="your-business"><span></span>Your Business</label>    
                              </div>
                          </div>
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Select a convenient day for your service:*</h3>
                          </div>
                          <div class="date-box clearfix">
                              <select id="dobday"></select>
                              <select id="dobmonth"></select>
                              <select id="dobyear"></select>
                              <div class="icon">
                                  <img src="assets/images/icons/icon-58.png" alt="">
                              </div>
                          </div>
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Select a convenient time*</h3>
                          </div>
                          <div class="time-box">
                              <input type="text" name="time" placeholder="Select time" class="timepicker">
                              <div class="icon">
                                  <span class="fa fa-angle-down"></span>
                              </div>
                          </div>
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Your first name and last name*</h3>
                          </div>
                          <input type="text" name="f_name" value="" placeholder="" required="">
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Your company</h3>
                          </div>
                          <input type="text" name="f_company" value="" placeholder="">
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Jobsite address</h3>
                          </div>
                          <div class="jobsite-address">
                              <input type="text" name="f_jobsite_address" value="" placeholder="">
                              <input type="text" name="f_jobsite_address" value="" placeholder="">
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-xl-4">
                              <div class="single-box">
                                  <div class="inner-title">
                                      <h3>City</h3>
                                  </div>
                                  <input type="text" name="f_city" value="" placeholder="">
                              </div>    
                          </div>
                          <div class="col-xl-4">
                              <div class="single-box selectbox">
                                  <div class="inner-title">
                                      <h3>State</h3>
                                  </div>
                                  <select name="form_vehicle_make" class="selectpicker" data-width="100%">
                                      <option selected="selected">State</option>
                                      <option>Alabama</option>
                                      <option>Florida</option>
                                      <option>Iowa</option>
                                      <option>New Jersey</option>
                                  </select>
                              </div>    
                          </div>
                          <div class="col-xl-4">
                              <div class="single-box">
                                  <div class="inner-title">
                                      <h3>Zip Code</h3>
                                  </div>
                                  <input type="text" name="f_zipcode" value="" placeholder="">
                              </div>    
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-xl-6">
                              <div class="single-box">
                                  <div class="inner-title">
                                      <h3>Jobsite phone number</h3>
                                  </div>
                                  <input type="text" name="f_jobsite_phn_number" value="" placeholder="">
                              </div>    
                          </div> 
                          <div class="col-xl-6">
                              <div class="single-box">
                                  <div class="inner-title">
                                      <h3>Phone number</h3>
                                  </div>
                                  <input type="text" name="f_phn_number" value="" placeholder="">
                              </div>    
                          </div>     
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Email address</h3>
                          </div>
                          <input type="email" name="f_email" value="" placeholder="" required="">
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Service type</h3>
                          </div>
                          <div class="service-type-box">
                              <div class="appointment-checkbox">
                                  <div class="single-checkbox">
                                      <input type="checkbox" name="plumbing" id="sel-ser1">
                                      <label for="sel-ser1"><span></span>Plumbing</label>
                                  </div>
                                  <div class="single-checkbox">
                                      <input type="checkbox" name="drain-cleaning" id="sel-ser2" checked>
                                      <label for="sel-ser2"><span></span>Drain Cleaning</label>    
                                  </div>
                                  <div class="single-checkbox">
                                      <input type="checkbox" name="heating-cooling" id="sel-ser3">
                                      <label for="sel-ser3"><span></span>Heating & Cooling</label>
                                  </div>
                                  <div class="single-checkbox">
                                      <input type="checkbox" name="water-gas" id="sel-ser4">
                                      <label for="sel-ser4"><span></span>Water & Gas Repairs</label>
                                  </div>
                                  <div class="single-checkbox">
                                      <input type="checkbox" name="sewer-cleaning" id="sel-ser5">
                                      <label for="sel-ser5"><span></span>Sewer line Cleaning and Reapirs</label>
                                  </div>
                                  <div class="single-checkbox">
                                      <input type="checkbox" name="other" id="sel-ser6">
                                      <label for="sel-ser6"><span></span>Other (Specify below)</label>
                                  </div>
                              </div>    
                          </div>
                      </div>
                          
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Others</h3>
                          </div>
                          <textarea name="f_other_message" placeholder=""></textarea>
                      </div>
                      
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Brief Description of Problem:*</h3>
                          </div>
                          <textarea name="f_brief_description" placeholder="" required></textarea>
                      </div>
                          
                      <div class="single-box">
                          <div class="inner-title">
                              <h3>Subscribe to our newsletter</h3>
                          </div>
                          <div class="newsletter-checkbox">
                              <input type="checkbox" name="subscribe-newsletter" id="newsletter" checked="">
                              <label for="newsletter"><span></span>Yes, I would like to receive occasional hints and tips via email. (Email addresses <br />will not be shared with any other company.)</label>
                          </div>
                      </div>
                          
                      <div class="appointment-form-button">
                          <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                          <button class="btn-1 text-center pt_17 pb_14 pl_30 pr_30 b_radius_5 ff_sec fw_bold tt_u fs_14 ls_1" type="submit">Request for Appointment<span></span></button>
                      </div>
                      
                  </form>    
              </div>    
          </div>
      </div>
  </div>    
</section>
